*{ margin:0; padding:0;}
li,ul{ list-style-type:none;}
img{ border:none;}
a{ text-decoration:none; color:#000;}
a:hover{ text-decoration:underline; color:#003;}
body{ font-family:"宋体" ; font-size:12px; background:url(/images/admin/head-bg-line.jpg) repeat-x;}
h1,h2,h3,h4,h5,h6{ font-size:12px;}

body{ background:url(/images/admin/#login-bg-bar.jpg) repeat-x;}
.top-bg{ background:url(/images/admin/#login-bg-top.jpg) no-repeat; height:79px;}
.login-box{ width:403px; height:235px; background:url(/images/admin/login-box-bg-2.jpg) no-repeat; margin:0 auto; padding-top:85px; position:relative;}
.user{ clear:both; font-family:"微软雅黑"; font-size:15px; color:#919191;  margin:0 0 20px 47px; font-weight:bold;}
.user span{ display:block; width:50px; float:left; margin-right:5px;}
.user input{ font-family:"宋体"; font-size:12px; margin-left:15px; font-weight:100;}

.user-code{ position:absolute; top:153px; left:200px;}
.login-button{position:absolute; top:196px; left:100px;}
.clear-button{position:absolute; top:196px; left:210px;}