<?xml version="1.0" encoding="UTF-8"?>
<configdata>
    <production>
        <name>kenfeng</name>
        <domain>122.114.123.95:8099</domain>
	    <masterdomain>122.114.123.95:8099</masterdomain>
        <database>
            <adapter>pdo_mysql</adapter>
            <charset>utf8</charset>
            <params>
                <host>localhost</host>
                <username>root</username>
                <password></password>
                <dbname>jiankang</dbname>
                <profiler>
                  <enabled>true</enabled>
                  <class>Zend_Db_Profiler_Firebug</class>
                </profiler>
            </params>
        </database>
        <session>
            <table>
                <name>session</name>
                <primary>id</primary>
                <modifiedColumn>modified</modifiedColumn>
                <dataColumn>data</dataColumn>
                <lifetimeColumn>lifetime</lifetimeColumn>
            </table>
            <memcached>
                <backend>
                    <host>localhost</host>
                    <port>11211</port>
                    <persistent>1</persistent>
                </backend>
                <lifetime>3600</lifetime>
            </memcached>
        </session>
        <view>
            <layout>1</layout>
            <page_size>20</page_size>
        	<suffix>tpl</suffix>
        	<smarty>
        		<caching>1</caching>
        		<debugging>0</debugging>
        		<left_delimiter>{{</left_delimiter>
        		<right_delimiter>}}</right_delimiter>
        		<plugin_dir>../lib/Custom/View/SmartyPlugin</plugin_dir>
        	</smarty>
        	<_static_>http://122.114.123.95:8099/_static</_static_>
        	<version>20131029</version>
        	<imgBaseUrl>http://122.114.123.95:8099</imgBaseUrl>
        	<newsBaseUrl>http://news.kenfeng.com</newsBaseUrl>
        	<host>
	        	<mainhost>127.0.0.1</mainhost>
	        	<localhost>127.0.0.1</localhost>
        	</host>
        </view>
		<cache>
            <frontend>
                <caching>1</caching>
            </frontend>
            <backend>
                <hashed_directory_level>1</hashed_directory_level>
                <cache_dir>../tmp/cache</cache_dir>
				<file>
                    <hashed_directory_level>1</hashed_directory_level>
                    <cache_dir>../tmp/cache</cache_dir>
                </file>
                <memcached>
				 <servers>
                    <host>127.0.0.1</host>
                    <port>11211</port>
                    <persistent>1</persistent>
					<timeout>3600</timeout>
				</servers>
                </memcached>
            </backend>
        </cache>
        <log>
          <db>
            <enabled>1</enabled>
            <path>../data/log/db</path>
            <class>Zend_Log_Writer_Stream2</class>
            <filter>INSERT|UPDATE|DELETE</filter>
          </db>
        </log>
    </production>
    <shop extends="production">
        <view>
            <smarty>
        		<template_dir>../app/Shop/Views/scripts</template_dir>
        		<compile_dir>../tmp/compiles/shop</compile_dir>
        	</smarty>
        </view>
    </shop>
    <api extends="production">
        <view>
            <smarty>
        		<template_dir>../app/Api/Views/scripts</template_dir>
        		<compile_dir>../tmp/compiles/api</compile_dir>
        	</smarty>
        </view>
    </api>
    <purchase extends="production">
        <view>
            <smarty>
        		<template_dir>../app/purchase/Views/scripts</template_dir>
        		<compile_dir>../tmp/compiles/purchase</compile_dir>
        	</smarty>
        </view>
    </purchase>
    <admin extends="production">
        <auth>
            <must_login>1</must_login>
            <url>/admin/auth/login</url>
            <class_name>Admin_Models_API_Auth</class_name>
        </auth>
        <view>
            <layout>true</layout>
            <smarty>
        		<template_dir>../app/Admin/Views/scripts</template_dir>
        		<compile_dir>../tmp/compiles/admin</compile_dir>
        	</smarty>
        </view>
        <sytem_cache>
            <dir>../tmp/sytemCache/admin</dir>
        </sytem_cache>
    </admin>
</configdata>